{% extends "hyway/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
Contact
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'hyway/css/contact.css' %}">
{% endblock %}

{% block js_head_block %}

<script type="text/javascript">

	$(document).ready(function(){
		document.getElementById("id_password").type="password";
		document.getElementById("id_confirm_password").type="password";
		document.getElementById("id_firstname").focus();


				$("#id_confirm_password").keyup(
					function(e){
					if(e.which==8){
							console.log("Great")
							// document.getElementById("p_pass").innerHTML="Not matched (Backspace pressed)";
							console.log("Now:"+$("#id_confirm_password").val()+"<>"+ $("#id_password").val().substring(0,$("#id_confirm_password").val().length))

							console.log($("#id_confirm_password").val() != $("#id_password").val().substring(0,$("#id_confirm_password").val().length))

							if($("#id_confirm_password").val()!= $("#id_password").val())
							{
								console.log("Do")
								document.getElementById("p_pass").innerHTML="Not matched (Backspace/Delete pressed)";
								
							}else{
								console.log("Done...")
								document.getElementById("p_pass").innerHTML="Matched (Backspace/Delete pressed)";
								
							}
							// alert("Backspace pressed.")
					}else{
								if($(this).val()== $("#id_password").val())
								{
									document.getElementById("p_pass").innerHTML="<small style='color:green'>Matched</small>";
								}else{
									if($(this).val()== $("#id_password").val().substring(0,$(this).val().length)){
										document.getElementById("p_pass").innerHTML="<small style='color:gray;'>Continue...</small>";
									}
									else{
										document.getElementById("p_pass").innerHTML="<small style='color:red'>Not matched</small>";
									}
								}
					}
					
						}
					);
	});

	// $("#id_confirm_password").focusout(
	// 	function(){
	// 		if($(this).val()!= $("#id_password").val().substring(0,$(this).val().length))
	// 			{
	// 				document.getElementById("p_pass").innerHTML="Not matched";
	// 			}else{
	// 				document.getElementById("p_pass").innerHTML="Matched";
	// 			}
	// 		}
	// );

</script>

{% endblock%} 

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<center>
				<h1 id="h1_head"><img src="https://cdn4.iconfinder.com/data/icons/plastic-iconshock/256/Shopping_cart.png" width="8%" /> Seller form</h1>
				<hr id="hr1">
			</center>
			<form method="POST" action="" autocomplete="off"> {% csrf_token %}
					{{ form | crispy }}
					<button type="submit" class="btn btn-primary btn-block">Submit</button>

			</form>
			<br>
					<p id="p_pass"></p>
			<br>
			<br>

		</div>
	</div>
</div>
<hr>
{% endblock %}

{% block js_body_block %}

{% endblock %}